__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.env
.venv
*.env
*.venv
*.idea/
.vscode/
*.swp
.DS_Store

*.log
*.out
*.err
*.ckpt
*.pth
*.pt

offline/
grad_store/
outputs/
checkpoints/
results/
pictures/
runs/
cache/
*.jsonl

data/2wikimultihopqa/*.json
data/hotpotqa/*.json
data/popqa/*.json
data/complexwebquestions/*.json
data/popqa/*.tsv
data/dpr/
data_aug/
*.zip


